<!DOCTYPE html>
<html>
<head>
  <title>Package Cost</title>
</head>

<body>
  <h1>Math Results</h1>

<div class="container">
  	<p>
		Your package weighs <%= weight %> and is of type <%= mail %>. It will cost you $<%= result %> 
  	</p>

 
</div>


</body>
</html>